## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt
import numpy as np
# Import API key
from config import g_key
from config import weather_api_key

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv ("Weather_Database/WeatherPy_Database.csv")

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.tail()

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
680,680,Lahij,YE,2021-03-27 00:14:44,13.1667,44.5833,69.12,56,84,4.47,broken clouds
686,686,Tadine,NC,2021-03-27 00:14:47,-21.5500,167.8833,81.93,67,28,10.25,scattered clouds
688,688,Conceicao Do Araguaia,BR,2021-03-27 00:14:48,-8.2578,-49.2647,73.80,86,100,2.37,overcast clouds
689,689,Yanam,IN,2021-03-27 00:14:48,16.7333,82.2167,72.00,90,22,1.14,few clouds
692,692,Talcahuano,CL,2021-03-27 00:14:49,-36.7167,-73.1167,60.80,67,0,12.66,clear sky

In [9]:
preferred_cities_df.head()

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Karratha,AU,2021-03-27 00:09:50,-20.7377,116.8463,82.78,65,0,4.45,clear sky
1,1,Bonthe,SL,2021-03-27 00:09:51,7.5264,-12.5050,78.39,89,5,5.08,clear sky
3,3,Bulolo,PG,2021-03-27 00:09:52,-7.2000,146.6500,83.08,66,95,3.36,overcast clouds
4,4,Cape Town,ZA,2021-03-27 00:06:05,-33.9258,18.4232,63.00,94,75,9.22,light rain
6,6,Avera,US,2021-03-27 00:09:53,33.1940,-82.5271,68.00,94,90,4.97,mist

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             387
City                   387
Country                380
Date                   387
Lat                    387
Lng                    387
Max Temp               387
Humidity               387
Cloudiness             387
Wind Speed             387
Current Description    387
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Karratha,AU,82.78,clear sky,-20.7377,116.8463,
1,Bonthe,SL,78.39,clear sky,7.5264,-12.5050,
3,Bulolo,PG,83.08,overcast clouds,-7.2000,146.6500,
4,Cape Town,ZA,63.00,light rain,-33.9258,18.4232,
6,Avera,US,68.00,mist,33.1940,-82.5271,
7,Kapaa,US,80.01,light rain,22.0752,-159.3190,
9,Victoria,HK,73.00,overcast clouds,22.2855,114.1577,
10,Manavalakurichi,IN,82.40,mist,8.1333,77.3000,
11,Port Alfred,ZA,69.37,overcast clouds,-33.5906,26.8910,
13,Katherine,AU,86.00,overcast clouds,-14.4667,132.2667,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
# 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
#Recall that when trying to parse the data from an API request, we need to use a try-except block to handle the error with 
#a statement and continue the retrieval.

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Karratha,AU,82.78,clear sky,-20.7377,116.8463,ibis Styles Karratha
1,Bonthe,SL,78.39,clear sky,7.5264,-12.5050,Bonthe Holiday Village
3,Bulolo,PG,83.08,overcast clouds,-7.2000,146.6500,Pine Lodge Bulolo
4,Cape Town,ZA,63.00,light rain,-33.9258,18.4232,Southern Sun Waterfront Cape Town
6,Avera,US,68.00,mist,33.1940,-82.5271,
7,Kapaa,US,80.01,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
9,Victoria,HK,73.00,overcast clouds,22.2855,114.1577,Mini Hotel Central
10,Manavalakurichi,IN,82.40,mist,8.1333,77.3000,Udaya Boys Hostel
11,Port Alfred,ZA,69.37,overcast clouds,-33.5906,26.8910,The Halyards Hotel
13,Katherine,AU,86.00,overcast clouds,-14.4667,132.2667,Pine Tree Motel

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace("", np.nan, inplace=True)
hotel_df.dropna(subset=["Hotel Name"], inplace=True)
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Karratha,AU,82.78,clear sky,-20.7377,116.8463,ibis Styles Karratha
1,Bonthe,SL,78.39,clear sky,7.5264,-12.5050,Bonthe Holiday Village
3,Bulolo,PG,83.08,overcast clouds,-7.2000,146.6500,Pine Lodge Bulolo
4,Cape Town,ZA,63.00,light rain,-33.9258,18.4232,Southern Sun Waterfront Cape Town
7,Kapaa,US,80.01,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file)

In [38]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))